@import url(../../../variables/css/color.css);
@import url(../../../variables/css/size.css);

.content {
    padding-top: 100px;
    margin-bottom: 70px;
}

.mycontain {
    background-color: var(--white);
    box-shadow: 0 2px 8px 3px rgb(0 0 0 / 5%);
    width: 520px;
    padding: 33px 70px;
    margin: auto;
    border-radius: 25px
}

.mycontain-flex {
    display: flex;
    margin: auto;
}

.mycontain h2 {
    color: var(--black);
    font-size: var(--fourth_fnt_size);
    font-weight: 400;
    text-align: center;
    margin-bottom: 36px;
}

.block-student, .block-teacher {
    background: var(--white);
    border: 1px solid var(--second_blue);
    box-sizing: border-box;
    border-radius: 25px;
    padding: 0 15px;
    width: 240px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*justify-content: space-evenly;;*/
}

.img_log_as_student {
    background-image: url(./assets/img_log_as_student.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 23px auto 0;
}

.img_log_as_teacher {
    background-image: url(./assets/img_log_as_teacher.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 23px auto 0;
}

.block-student h3, .block-teacher h3 {
    display: block;
    color: var(--black);
    font-size: var(--standard_text);
    font-weight: 400;
    margin-top: 23px;
    /*letter-spacing: -1.5px;*/
    /*text-align: center;*/
}

.block-student p, .block-teacher p {
    display: block;
    color: var(--black);
    font-size: var(--standard_text);
    font-weight: 400;
    margin-top: 23px;
    /*letter-spacing: -1.5px;*/
    /*text-align: center;*/
}

.mycontain--login {
    color: var(--black);
    font-size: var(--standard_text);
    font-weight: 400;
    margin-top: 23px;
    display: flex;
    justify-content: center;
}

.mycontain--login a {
    color: var(--light_blue);
    font-size: var(--standard_text);
    font-weight: 400;
    margin-left: 5px;
}
