@import url(../../variables/css/color.css);
@import url(../../variables/css/size.css);

.course-wrapper {
  position: relative;
}
.single-course {
  position: relative;
}
.course-main-info {
  margin: 30px auto 0 auto;
  max-height: 300px;
  background-color: var(--main-blue);
  padding-top: 30px;
  padding-bottom: 30px;
}
.course-main-info-width {
  max-width: 1100px;
  margin: auto;
  position: relative;
}
.course-main-info p {
  color: var(--white);
  font-size: var(--standard_text);
}
.course-name {
  color: var(--white);
  font-size: var(--header-fnt-size);
  font-weight: 800;
  margin: 0px 0 10px 0;
}
.course-count-student {
  color: var(--white);
  font-size: var(--standard_text);
}
.course-context {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0 1rem;
}
.course-info {
  max-width: 70%;
}
.course-progress {
  display: flex;
  flex-direction: column;
}
.course-progress h2 {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.5rem 1.5rem;
  color: var(--black);
  font-size: var(--standard_text);
}
.course-progress ul {
  position: relative;
  background-color: var(--white);
  box-shadow: 1px 1px 18px 1px rgb(0 0 0 / 6%);
  padding: 0.5rem 1.5rem;
  /* transition: all 300ms ease; */
  /* margin-bottom: 30px; */
  display: flex;
  flex-direction: column;
  color: var(--black);
  font-size: var(--standard_text);
}
.course-progress ul li {
  padding: 0.7rem 0;
  list-style-type: none;
}
.course-result {
  display: flex;
  flex-direction: column;
}
.course-result h2 {
  color: var(--black);
  font-size: var(--fourth-fnt-size);
}
.course-result ul {
  color: var(--black);
  font-size: var(--standard_text);
  margin-left: 1.1rem;
}

.course-description {
  display: flex;
  flex-direction: column;
}
.course-description h2 {
  color: var(--black);
  font-size: var(--fourth-fnt-size);
}
.course-description p {
  color: var(--black);
  font-size: var(--standard_text);
  display: flex;
  align-items: center;
  /* padding: 0.5rem 0; */
}
.course-img {
  background-image: url(./assets/js-img.png);
  width: 100%;
  height: 250px;
  background-size: cover;
}
.course-lessons {
  display: flex;
  flex-direction: column;
}
.course-lessons ul {
  position: relative;
  background-color: var(--white);
  box-shadow: 1px 1px 28px 1px rgb(0 0 0 / 8%);
  /* padding: 1.5rem; */
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
  color: var(--black);
  font-size: var(--standard_text);
}
.course-lessons ul li {
  list-style-type: none;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 1.5rem;
}
.course-lessons ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 1.5rem;
}

.course-lessons ul li h1 {
  margin-left: auto;
  margin-right: auto;
  color: var(--black);
  font-size: var(--third-fnt-size);
}
.course-lessons ul li h2 {
  color: var(--black);
  font-size: var(--fourth-fnt-size);
  padding: 0.2rem 0
}
.course-lessons-content {
  width: 90%;
}
.course-lessons p {
  color: var(--dark_gray);
  font-size: var(--standard_text);
}
.course-lessons ul li p {
  margin: 10px 0 0;
}
.course-progress,
.course-result,
.course-description,
.course-lessons {
  padding: 1rem 0 1.5rem;
}
.course-progress h2,
.course-result h2,
.course-description h2,
.course-p-lessons {
  padding-bottom: 1rem;
}

.course-get-started {
  margin-top: -7rem;
  position: relative;
  background-color: var(--white);
  box-shadow: 1px 1px 18px 1px rgb(0 0 0 / 6%);
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  color: var(--black);
  width: 23%;
  height: 400px;
  border-radius: calc(0.25rem - 1px);
}
.course-btn {
  background-color: var(--main-green);
  color: var(--white);
  border-radius: 0.3rem;
  font-size: var(--standard_text);
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 1rem 0 1rem;
}
.course-btn:hover {
  background-color: var(--dark_green);
  color: var(--white);
  border-radius: 0.3rem;
  font-size: var(--standard_text);
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 1rem 0 1rem;
}
.course-get-started-p1,
.course-get-started-p2 {
  color: var(--black);
  font-size: var(--standard_text);
}
.course-get-started-p1,
.course-get-started-p2 {
  margin-top: 0.5rem;
}
