.auth {
    position: relative;
    background-color: #f3f3f340;
}

.mycontain {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.mycontain-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    padding: 24px;
    /*background: #fff;*/
    width: 290px;
    /*border: 1px solid #d1cccc;*/
    /*border-radius: 4px;*/
    /*margin: auto;*/

    /*max-width: 32%;*/
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.12);
    border-radius: 25px;
}


.img_hs_logo {
    background-image: url(../../assets/HS_logo_header.png);
    width: 24%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.auth-logo-h2 h2 {
    display: block;
    margin: 0 0 15px;
    padding-bottom: 0;
    color: #151429;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1.5px;
    text-align: center;
}