:root {
    --main-footer-nav: #457eaf;
    --white: #fff;
    --gradient: #f3f3f3;
    --gradient-blocks: #d1cccc;
    --border-input: #b1b2b3;
    --fond-addl: #7e7e7e;
    --bckg-btn: #193eb8;
    --bckg-btn--hover: #0370D3;
    --link: #539CDA;
    --btn-continue: #198754;
    --btn-continue--hover: #18784b;
    --font: #151429;
}