:root {
    --white: #fff;
    --light_gray : #d1cccc;
    --second_gray: #b1b2b3;
    --dark_gray: #7e7e7e;
    --main-blue: #457eaf;
    --dark_blue: #193eb8;
    --second_blue: #0370D3;
    --light_blue: #539CDA;
    --main_green: #198754;
    --dark_green: #18784b;
    --black: #151429;
}