:root {
    --457eaf: #457eaf;
    --fff: #fff;
    --151429: #151429;
    --02238f: #193eb8;
    --f3f3f3: #f3f3f3;
    --193eb8: #0370D3;
    --d1cccc: #d1cccc;
    --A7ABAE: #A7ABAE;
    --212529: #212529;
    --539CDA: #539CDA;
    --198754: #198754;
    --18784b: #18784b;
    --155135: #155135;
    --7e7e7e: #7e7e7e;
    --0370D3: #0370D3;
}