@import url(../../../variables/css/color.css);
@import url(../../../variables/css/size.css);

.content {
    padding-top: 100px;
    margin-bottom: 70px;
}

.mycontain {
    background-color: var(--white);
    box-shadow: 0 2px 8px 3px rgb(0 0 0 / 5%);
    width: 520px;
    padding: 33px 70px;
    margin: auto;
    border-radius: 25px
}

.block-logo-teacher h2 {
    display: block;
    color: var(--black);
    font-size: var(--fourth-fnt-size);
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.block-teacher {
    display: flex;
    flex-direction: column;
    /*height: 160px;*/
    justify-content: space-between;

}

.block-teacher p, .block-pwd p {
    display: block;
    color: var(--black);
    font-size: var(--standard_text);
    font-weight: 400;
}

.block-teacher input, .block-pwd input {
    outline: none;
    border: solid 1px var(--second_gray);
    border-radius: 10px;
    height: 44px;
    width: 100%;
}

.block-bottom {
    margin: 30px 0 30px;
    display: flex;
    justify-content: right;
}

.teacher--forgotpwd {
    display: block;
    color: var(--black);
    font-size: var(--standard_text);
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.forgotpwd-link, .reg-link {
    color: var(--light_blue);
    font-size: var(--standard_text);
    font-weight: 400;
    margin-left: 5px;
}

.mycontain--log {
    display: block;
    color: var(--black);
    font-size: var(--standard_text);
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.btn-teacher {
    min-width: 130px;
    border-radius: 50px;
    background-color: var(--dark_blue);
    transition: all 350ms ease;
    color: var(--white);
    text-align: center;
    display: inline-block;
    padding: 5px 15px;
    font-size: var(--standard_text);
    font-weight: 400;
}

.btn-teacher:hover {
    background-color: var(--second_blue);
}