@import url(../../../variables/css/color.css);
@import url(../../../variables/css/size.css);

.wrapper {
    display: flex;
    flex-direction: column;
}

.btn-back {
    width: 67px;
    border-radius: 0;
}

.btn-open {
    width: 67px;
    border-radius: 0;
    height: 100vh;
}

.course-title {
    text-transform: uppercase;
    padding: 8px 16px;
}