.nav-desktop {
    position: sticky;
    top: 0;
    z-index: 500;
    display: flex;
    height: 70px;
    margin-top: 0;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-between;
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 16%);
}

.nav-logo-link {
    background-image: url(../../assets/HS_logo_header.png);
    width: 78px;
    height: 61px;
    background-size: cover;
}

.nav-links-center,
.nav-links-right {
    display: flex;
    padding-bottom: 2px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin-top: 5px;
    margin-right: 2vw;
    align-items: center;
    border-bottom: 2px solid transparent;
    color: #151429;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #FA8080;
}

.download-arrow-link {}

.nav-link-text {
    /* border-bottom: 2px solid transparent; */
}

.nav-btn {
    max-width: 140px;
    min-width: 110px;
    padding: 5px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #151429;
    background-color: transparent;
    color: #151429;
    font-size: 16px;
    border-radius: 50px;
    transition: all 350ms ease;
    text-align: center;
}

.nav-btn:hover {
    background-color: #151429;
    color: #fff;
}
