@import url(../../variables/css/color.css);
@import url(../../variables/css/size.css);
.student-home {
    position: relative;
}
.main-information-navagate{
    display: flex;
    padding: 0 30px;
}
.left-nav{
display: flex;
flex-direction: column;
margin-top: 37px;
}
.left-nav p{
    display: block;
    color: var(--black);
    font-size: var(--standard_text);
    font-weight: 400;
    padding: 1rem 0.6rem;
}

.main-information {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    margin: 50px 0 50px 0;
}

.about-user{
    position: relative;
    background-color: var(--white);
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 16%);
    width: 25%;
    padding: 33px 40px;
    margin: 20px;
    /* border-radius: 18px; */
    transition: all 300ms ease;
    margin: auto;
    min-width: 80%;
    margin-bottom: 30px;
    display: flex;
}
.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}
.user-name {
    color: var(--black);
    font-size: var(--fourth-fnt-size);
}
.user-email {
    color: var(--dark_gray);
    font-size: var(--standard_text);
}
.link-profile {
    margin: auto 0 0 auto;
   color: var(--black);
    font-size: var(--standard_text);
}

.img-user {
    background-image: url(./assets/pngwing.com.png);
    width: 10%;
    height: 100px;
    background-size: cover;
}