@import url(../../../variables/css/color.css);
@import url(../../../variables/css/size.css);

.main-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 20px;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
}

.main-content h2 {
    padding: 10px 0;
    font-size: var(--standard_text);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
}

.div-task_code div {
    min-width: 700px;
    max-height: 500px;
}

.button-task_code {
    margin-left: 40px;
}

.div-task_code {
    margin: 30px auto 0;
    display: flex;
    width: 700px;
}

.pagination {
    margin-top: 15px;
}