@import url(../../variables/css/color.css);
@import url(../../variables/css/size.css);

.footer {
    position: relative;
    height: auto;
    min-height: 300px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 60px 30px 0;
    background-color:  var(--main-blue);
}

.footer-logo {
    background-image: url(./assets/HS_logo_footer.png);
    width: 78px;
    height: 61px;
    background-size: cover;
}

.mycontain {
    display: block;
    max-width: 1100px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.footer-links-wrap {
    width: 150px;
}

.footer-links {
    display: block;
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--white);
    text-decoration: none;
    font-size: var(--standard_text);
}
.footer-upper-wrap{
    display: flex;
    justify-content: space-between;;
}
.p-v50 {
    padding-bottom: 50px;
}
.footer-cta-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white {
    display: block;
    color: var(--white);
    font-style: normal;
    text-decoration: none;
    font-size: var(--standard_text);
}

.nav-btn {
    margin-top: 20px;
    max-width: 180px;
    min-width: 110px;
    padding: 15px 25px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--white);
    background-color: transparent;
    color: var(--white);
    font-size: var(--standard_text);
    border-radius: 50px;
    transition: all 350ms ease;
    text-align: center;
}

.nav-btn:hover {
    background-color: var(--white);
    color: var(--black);
}


.small-caps {
    color: var(--white);
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    opacity: .15;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}