@import url(../../../variables/css/color.css);
@import url(../../../variables/css/size.css);

.nav-desktop {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1500;
    display: flex;
    height: 80px;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-between;
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 16%);
}

.nav-logo-link {
    background-image: url(../assets/HS_logo_header.png);
    width: 80px;
    height: 79px;
    background-size: cover;
}

.nav-links-center,
.nav-links-right {
    display: flex;
    padding-bottom: 2px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin-right: 2vw;
    align-items: center;
    border-bottom: 2px solid transparent;
    color: var(--font);
    font-size: var(--p);
    line-height: 27px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-link:hover {
    border-bottom: 2px solid var(--bckg-btn--hover);;
}

.nav-btn {
    max-width: 140px;
    min-width: 110px;
    padding: 5px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--font);
    background-color: transparent;
    color: var(--font);
    font-size: var(--p);
    border-radius: 50px;
    transition: all 350ms ease;
    text-align: center;
}

.nav-btn:hover {
    background-color: var(--font);
    color: var(--white);
}